<ion-view view-title="MiParqueo">
<ion-content scroll="false">
<div class="content has-header">
      <div class="list">
        <label class="item item-input ">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="Nombre">
        </label>
        <label class="item item-input ">
          <span class="input-label">Direccion</span>
          <input type="text" ng-model="Direccion">
        </label>
        <label class="item item-input ">
          <span class="input-label">Horario</span>
          <input type="text" ng-model="Horario">
        </label>
        </label>
        <label class="item item-input ">
          <span class="input-label" >Precio</span>
          <input type="number" ng-model="Precio">
        </label>
        <label class="item">
        <span class="input-label">Latitud: {{lat}} </span>
        <span class="input-label">Longitud: {{lng}} </span>
        <button class="button button-block button-positive" ng-click="getLocation()">Coordenadas</button>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="guardar()">Guardar</button>
      </div>
    </div>
    </ion-content>
</ion-view>
