<ion-view view-title="Historial">
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon ion-trash-a" ng-click="toggleEdit()" ng-if="historial.length > 0">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content >
  <ion-refresher
    pulling-text="Actualizar historial..."
    on-refresh="getHistorial()">
  </ion-refresher>
  <button class="button button-block button-assertive" ng-click="eliminarReservas()" style="margin: 0;border-radius: 0;" ng-if="editMode">Eliminar Todos</button>
      <div class="card" ng-if="historial.length == 0">
  <div class="item item-text-wrap">
    No ha realizado ninguna reserva aun.
  </div>
</div>
      <ion-list show-delete="editMode" can-swipe="true">
        <ion-item  ng-repeat="r in historial" class="item item-text-wrap item-icon-right" >
          <div ng-click="verReserva(r)">
          <p>{{r.Parqueo[0].Nombre}}</p>
          <p>Costo: {{r.Monto | currency}}</p>
          <p>Estadia: {{estadia(r)}}</p>
          <p>Placa: {{r.Placa}}  </p>
          <p>Puesto: {{r.puestoParqueo}}  </p>
          <i class="icon ion-chevron-right"></i>
          </div>
          <ion-delete-button class="ion-minus-circled"
                       ng-click="eliminarReserva(r)">
          </ion-delete-button>
          <ion-option-button class="button-energized" ng-if="r.actions.ratings.avg == 0" ng-click="calificar(r)" >
            Calificar
          </ion-option-button>
          <ion-option-button class="button-energized" ng-if="r.actions.ratings.avg != 0" >
            <span style="color:white">{{r.actions.ratings.avg}}</span>
            <i class="rating ion-ios-star" style="color:white"></i>
          </ion-option-button>
          <ion-option-button class="button-balanced" ng-click="reservar(r)" >
            Reservar
          </ion-option-button>
        </ion-item >
        </ion-list>
    </div>
  </ion-content>
</ion-view>
