<ion-view view-title="Scan Reserva">
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content >
  <button class="button button-block button-positive" ng-click="scan()" style="margin: 0;border-radius: 0;" >scan</button>
  <!--<button class="button button-block button-positive" ng-click="notification()" style="margin: 0;border-radius: 0;" >notificacion</button>-->
      <div class="card">
  <div class="item item-text-wrap">
    {{barcode}}
  </div>
</div>
  </ion-content>
</ion-view>
