<div class="big-rating">
    <i ng-click="setRating(1)" ng-class="{'ion-ios-star': rating>=1, 'ion-ios-star-half': rating<1 , 'ion-ios-star-outline': rating==0}" class="rating"></i>
    <i ng-click="setRating(2)" ng-class="{'ion-ios-star': rating>=2, 'ion-ios-star-half': 1<rating && rating<2 , 'ion-ios-star-outline': rating<2 && !(1<rating && rating<2)}" class="rating"></i>
    <i ng-click="setRating(3)" ng-class="{'ion-ios-star': rating>=3, 'ion-ios-star-half': 2<rating && rating<3 , 'ion-ios-star-outline': rating<3 && !(2<rating && rating<3)}" class="rating"></i>
    <i ng-click="setRating(4)" ng-class="{'ion-ios-star': rating>=4, 'ion-ios-star-half': 3<rating && rating<4 , 'ion-ios-star-outline': rating<4 && !(3<rating && rating<4)}" class="rating"></i>
    <i ng-click="setRating(5)" ng-class="{'ion-ios-star': rating==5, 'ion-ios-star-half': 4<rating && rating<5 , 'ion-ios-star-outline': rating<5 && !(4<rating && rating<5)}" class="rating"></i>
</div>