<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Reservar</h1>
	</ion-header-bar>
	<ion-content scroll="false">
		<div class="list">
			<div class="item item-divider">
				Tipo de vehículo
			</div>
			<ion-radio ng-model="vehiculo" ng-value="0">Liviano</ion-radio>
			<ion-radio ng-model="vehiculo" ng-value="1">Pesado</ion-radio>
			<ion-radio ng-model="vehiculo" ng-value="2">Moto</ion-radio>
		</div>
		<div class="list">
			<div class="item item-divider">
				Horario
			</div>
			<label class="item item-input item-select">
				<div class="input-label">
					Desde:
				</div>
				<select ng-model="horaDesde" class="item-note" ng-options="h for h in horasD" ng-change="updateHasta()"></select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Hasta:
				</div>
				<select ng-model="horaHasta" class="item-note" ng-options="h for h in horasH"></select>
			</label>
			<div class="item"  style="text-align:center;">
				<p>
					<span>Total:</span>
				</p>
				<p style="padding: 15px;font-size: 35px;color: #01bf01;">
					<span>
						{{ (formatHora(horaHasta)-formatHora(horaDesde)) * montos[vehiculo] | currency}}
					</span>
				</p>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer" style="padding:0;">
	<div class="button-bar">
  		<button class="button button-assertive" ng-click="modalReserva.hide()" style="margin: 0;border-radius: 0;">Cancelar</button>
  		<button class="button button-balanced" ng-click="confirmarReserva()" style="margin: 0;border-radius: 0;">Confirmar</button>
  	</div>
  </div>
</div>
</ion-modal-view>