/* Empty. Add your own CSS if you like */
.google-button{
  background-color: #E54F44 !important;
  color:#fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
#login .scroll-content {
	background-image: url("../img/Login_fondo.png");
	 background-size: 100%;
}
.expand-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	transition: 0.2s;
}
.btn-0{
	z-index: 20;
	box-shadow: 0px 3px 10px grey;
}
.btn-1{
	z-index: 19;
}
.btn-2{
	z-index: 18;	
}
.btn-2 span{
	display: none;
}
.btn-3{
	z-index: 17;
}
.showOpciones {
	box-shadow: 0px 3px 10px grey;
}
.btn-1.showOpciones {
	right: 85px;
}
.btn-2.showOpciones {
	right: 155px;
	width: 82px;
    border-radius: 30px;
}
.btn-2.showOpciones span{
	display: block;
}
.btn-3.showOpciones {
	right: 252px;
}
.dia{
	padding: 4px;
    border: 1px solid grey;
    border-radius: 5px;
}
.dia.abierto {
	color: #16E020;
	border-color: #16E020;
}
.rating {
	font-size: 25px;
    color: gold;
}
.puntaje {
	padding: 5px 10px;
    color: white;
    background-color: gold;
    border-radius: 5px;
    font-size: 20px;
}
.slide-in-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  transition: all ease-in-out 250ms; 
}
.bar-header.button-clear {
	color:gray !important;
}